body, html
{
    font-size: .9em;
    font-family: Segoe UI, Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Segoe UI Semibold, Verdana, Helvetica, Sans-Serif; color: white; background-color: #333333; font-size: 24px; margin: 0; text-align: center; padding: 25px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}
    
#videolist {
    list-style: none;
}

#videolist li {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px;
}

div.video {
    padding: 15px;
    background-color: white;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;

    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
p.title { margin-bottom: 5px; text-align: center; }

div#container { margin-left: auto; margin-right: auto; max-width: 800px; }
#videolist li img { border: none; width: 200px; }

#videolist li.first { width: 100%; }
#videolist li.first div.video { padding: 25px; width: 666px; height: auto; }
#videolist li.first p.title { font-size: 20px; text-align: right; margin-top: 0; width: inherit; font-weight: bold; }
#videolist li.first img { width: 666px; }
a { color: #232323; text-decoration: none; }

#fancybox-overlay
{
    opacity:0.8!important;
    background-color:#333333!important;
}
#fancybox-outer
{
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 6px 0;
}